.navbar {
  background: linear-gradient(rgb(130, 234, 238),rgb(255, 255, 255), rgb(130, 225, 238));
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(0, 124, 128);
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem rgb(0, 128, 122));
    text-shadow: 0 0 20px rgb(0, 119, 128), 0 0 40px rgb(0, 128, 117);
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(0, 128, 128);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 128, 107);
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgb(0, 128, 122);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }